<div>
  <h1 class="font-bold text-4xl">Users</h1>
  <br>
  <div class="overflow-x-auto">
    <table class="min-w-full leading-normal">
      <% @users.each do |user| %>
        <tr class="border-t border-gray-200">
          <td class="px-5 py-5 bg-white text-sm">
            <div class="flex items-center justify-between">
              <div class="ml-3">
                <p class="text-gray-900 whitespace-no-wrap">
                  <%= user.email %>
                </p>
              </div>
              <div>
                <% if conversation = current_user.conversation_with(user) %>
                  <%= link_to 'Chat', conversation_path(conversation.id), class: 'btn btn-primary' %>
                <% else %>
                  <%= button_to 'Chat', conversations_path(conversation:{user_id: user.id}), method: :post, class: 'btn btn-primary' %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
