<div>

  <% if user_signed_in? %>
    <h1>CONGRATULATIONS!</h1><br>
     <h2>YOU ARE USING A COOL NEW MESSENGING APP</h2>
  <% else %>
    <h1>CHECK OUT THIS COOL NEW MESSENGING APP</h1><br>
    <p>log in with</p>
    <p>user: tester@test.com</p>
    <p>password: password</p>
  <% end %>

</div>
